command="~/git-start.sh",no-port-forwarding,no-X11-forwarding,no-agent-forwarding,no-pty ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCwStpCbxttFD7YE/XspmaoGLEo09VcFobIDgu/+pk/ncDxQwLsWEySybAQN8GJ0EB9AFcIudZFVBLVbSvh3RJ8M6nOT/t67briZNd9BAVTFAUHdzGTZhNL7fvpWaEzQ095BCWi6k9Ol9XgBs5pjrJgMX+Jw6+g0ZWE0CBzPllt4dZoQEXMagi0uocSDgWtVYI08LKdj/QUCjtJYKDIOujRNP8sv/+WZ0gVhu9ENwTzJg6SJV0p2cfHuS9P9Qe9NxQ3XwQcvVXzPUVazInrb+I9S4lZGPPPTYTDcORmwkhvdgBBrKYytsJmkXKh/3S88Sd1bHm3Wr8bYy+Axt601yyF first-user@git
command="~/git-start.sh",no-port-forwarding,no-X11-forwarding,no-agent-forwarding,no-pty ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCwStpCbxttFD7YE/XspmaoGLEo09VcFobIDgu/+pk/ncDxQwLsWEySybAQN8GJ0EB9AFcIudZFVBLVbSvh3RJ8M6nOT/t67briZNd9BAVTFAUHdzGTZhNL7fvpWaEzQ095BCWi6k9Ol9XgBs5pjrJgMX+Jw6+g0ZWE0CBzPllt4dZoQEXMagi0uocSDgWtVYI08LKdj/QUCjtJYKDIOujRNP8sv/+WZ0gVhu9ENwTzJg6SJV0p2cfHuS9P9Qe9NxQ3XwQcvVXzPUVazInrb+I9S4lZGPPPTYTDcORmwkhvdgBBrKYytsJmkXKh/3S88Sd1bHm3Wr8bYy+Axt601yyF second-user@git
